.Layout {
  display: grid;
  grid-template-rows: auto 1fr;
}

.NavLogo {
  height: 40px;
  width: 40px;
}

.NavBar {
  justify-content: space-between;
}

.NavItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

.AboutSection {
  padding: 40px 0;
  text-align: center;
  background-color: #00b9ff;
  color: white;
}

.add-shadow {
  box-shadow: 0 0 4px 0 (0, 0, 0, 1);
}