.Layout {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.NavLogo {
  height: 40px;
  width: 40px;
}

.NavBar {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
}