.AppBar {
  text-align: center;
}

.NavLogo {
  height: 40px;
  width: 40px;
}

.NavBar {
  justify-content: space-between;
  align-items: center;
}

.NavItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

.AnchorButtons {
  display: flex;
  gap: 20px;
}

.AboutSection {
  padding: 40px 0;
  text-align: center;
  background-color: #00b9ff;
  color: white;
}

.add-shadow {
  box-shadow: 0 0 4px 0 (0, 0, 0, 1);
}

.ContactForm {
  width: 1000px;
  height: 1000px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .NavTitle, .AnchorButtons {
    display: none;
  }

  .Header {
    font-size: 48px !important;
    font-weight: 400 !important;
  }

  .Subtitle {
    font-size: 20px !important;
  }
}