.Hidden {
  opacity: 0;
  transition: opacity 0.2 ease-in-out;
}

.Multiline {
  white-space: pre-wrap;
}

.Top {
  position: absolute;
  top: 0;
}

.Darken {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.Darken:hover {
  opacity: 1;
}

.FullHeight {
  height: 100%;
}

.Content {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.AppBar {
  text-align: center;
  position: sticky;
}

.NavLogo {
  height: 40px;
  width: 40px;
}

.NavBar {
  justify-content: space-between;
  align-items: center;
}

.NavItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

.AboutSection {
  padding: 40px 0;
  text-align: center;
  background-color: #00b9ff;
  color: white;
}

.Hero {
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border: solid 5px white;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
}

.HeaderSpacer {
  height: 140px;
}

.AttributesSection {
  margin-top: -100px;
}

.Attributes {
  display: flex;
  gap: 40px;
}

.AttributeTile {
  flex: 1 1 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
}

.GrayText {
  color: #666;
}

.BigIcon {
  font-size: 80px;
}

.SectionHeader {
  padding-top: 100px;
}

.PortfolioTiles {
  margin: 60px auto 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
}

.PortfolioProject {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  height: 260px;
  position: relative;
}

.ProjectTypography {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: left;
}

.ContactFields {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  text-align: left;
  width: 50%;
}

/* Tablet/small window */
@media only screen and (max-width : 1300px) {
  .Content {
    width: 860px;
  }

  .Attributes {
    gap: 0;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .AttributeTile {
    border-radius: 0;
    box-shadow: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ContactFields {
    width: 80%;
  }
}

@media only screen and (max-width : 920px) {
  .Hero {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .AboutSection {
    padding: 10px 0;
  }
  
  .Content {
    width: 660px;
  }

  .ProjectTypography {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 5px 10px;
  }

  .Darken {
    background: none;
    opacity: 1;
  }

  .ContactFields {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    padding: 0 10px;
  }

  .ContactFields {
    width: 100%;
    box-sizing: border-box;
    grid-gap: 20px;
  }
}

@media only screen and (max-width : 720px) {
  .Content {
    width: initial;
  }

  .Attributes {
    flex-direction: column;
    margin: 0 30px;
    box-sizing: border-box;
  }

  .AttributeTile {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .PortfolioTiles {
    display: flex;
    flex-direction: column;
    margin: 60px 30px;
    box-sizing: border-box;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 600px) {
  .NavTitle, .AnchorButton {
    display: none !important;
  }

  #Contact {
    display: inline-flex !important;
  }

  .Header {
    font-size: 48px !important;
    font-weight: 400 !important;
  }

  .Subtitle {
    font-size: 20px !important;
  }

  .Attributes, .PortfolioTiles, .PortfolioProject {
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    gap: 0;
    grid-gap: 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 400px) {

}